{% extends 'farm_app/base.html' %}

{% block content %}

{% include 'farm_app/mainbar.html' %}

<div style="padding: 10px">
    <div>
        <h1>{{farm.name}}</h1>
    </div>
    {% if request.user == farm.owner %}
    
    <button class="btn">
    <a href="{% url 'update_farm' farm.id %}">Update</a>
    </button>
    <button class="btn">
    <a href="{% url 'delete_farm' farm.id %}">delete</a>
    </button>
    {% endif %}

    <button class="btn">
    <a href="{% url 'home' %}" style="padding: 10px">Back</a>
    </button>
</div>
{% endblock content %}