{% extends 'farm_app/base.html' %}

{% block content %}
<div style="padding: 10px">
    <p>
        Please login if you already have an account.
    </p>

    <form method='POST' action="">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Login">
    </form>
</div>
<div style="padding: 10px">
    <p>
    Forgotten your password?
        <a href="{% url 'password_reset' %}">Reset</a>
        <br>
    Don't have an account yet?
    <a href="{% url 'register_user' %}">Register</a>
    </p>
</div>

{% endblock content %}